# This is an example of a .env file for this module using dummy values. DO NOT SHARE YOUR API KEY WITH ANYONE!

STEAM_API_KEY=0000000000000000000000000000000000 # Get one here: https://steamcommunity.com/dev/apikey
STEAM_USER_ID=0000000000000000 # Found here: https://store.steampowered.com/account/